# See https://help.github.com/articles/about-codeowners/ for valid syntax for entries.
# Default owners for everything in the repo, unless a later match takes precedence

# Phoenix owns the files under blacklist thingies
/AnkiVector/modules/blacklistusers.py @rsktg
/AnkiVector/modules/sql/blacklistusers_sql.py @rsktg
#pep8-ing the code doesn't change maker
/AnkiVector/modules/paste.py @DragSama
/AnkiVector/modules/speed_test.py @DragSama
